<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Links for Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
        <!-- <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/jquery-ui.structure.css">
        <link rel="stylesheet" href="css/jquery-ui.theme.css"> -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.4/jquery-ui.js"></script>
        <script type="text/javascript" src="js/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/home.css">
        <!-- D3 Js link -->
        
        <!-- <script src="../js/d3.layout.cloud.js"></script> -->
    </head>
    <body>
        <!-- Top Navigation Bar -->
        <div class="home-wrapper">
		<div>
			<nav class="navbar navbar-expand-lg rounded">
                <!-- <a class="navbar-brand" href="http://localhost:3000/home">Opinion Miner</a> -->
                <a class="navbar-brand" href="http://54.188.69.174:3000/home">Opinion Miner</a>
			  <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="http://54.188.69.174:3000/logout">Log Out</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="http://localhost:3000/logout">Log Out</a></li> -->
              </ul>
			</nav>
        </div>
        <!-- <div class="row slider-header">
            <span>Select number of tweets to analyze</span>
        </div> -->
        <!-- <div class="row slider">
            <div id="slider">
                <div id="custom-handle" class="ui-slider-handle"></div>
            </div>
        </div> -->
        <div id="home" class="row home">
            <div class="col" id="line-chart-1"></div>
            <div class="col">
                <div class="row">
                    <div class="search">
                        <input type="search" name="topic" placeholder="Enter Topic e.g. corona" class="search-box" />
                            <span class="search-button">
                                <span class="search-icon"></span>
                            </span>   
                    </div>
                </div>
                <!-- <div class="row trends-heading">
                    <h3>Trends</h3>
                </div> -->
            </div>
            <div class="col" id="line-chart-2"></div>
        </div>
        <div class="row line-chart-wrapper">
            <div class="col" id="line-chart-3"></div>
            <div class="col" id="line-chart-4"></div>
            <div class="col" id="line-chart-5"></div>
        </div>
    </div>
        <div id="about" class="about row">
            <div class="col-3">
                <div class="header-wrapper">
                    <div class="header">
                        <span>About</span>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row about-wrapper">
                    <div class="col about">
                        <div class="row">
                            <span class="about-heading"> 
                                Why?
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                Businesses want to know how their product is doing in the market.<br/>
                                What are customers saying about them?<br/> 
                                What are their expectations?<br/> 
                                Hows the competition and what their customers think of their competition?<br/>
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                People want to know what other people think and what they have to say about a topic or a product. <br/>
                                What is trending today? <br/>
                                What happened in the world today?<br/><br/>
                                So here is the answer to all those questions......<br/><br/>
                                <span class="about-heading"> 
                                    What?<br/>
                                </span>
                                All it requires is a word and a will to know. Opinion Miner is a text classification project in which data from Twitter is obtained and analyzed so that businesses can make informed decisions and get real-time information about the opinions of their products. It can also be used by a normal person to get the latest information about a topic.<br/><br/>
                                <span class="about-heading"> 
                                    Why Twitter?<br/>
                                </span>
                                Twitter's relevance is now more than ever as people are tweeting about everything they See, Hear and Feel. Every second, on average, around 6,000 tweets are tweeted on Twitter, which corresponds to over 350,000 tweets sent per minute, 500 million tweets per day, and around 200 billion tweets per year. So it is the largest platform that gets opinions of people every second.<br/><br/>
                                <span class="about-heading"> 
                                    How?<br/>
                                </span>
                                Opinion miner uses Twitter's API to fetch tweets about a provided topic and extract relevant data. It uses Natural Language Processing to classify data and generate various visualizations.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="http://54.188.69.174:3000/tweets" method="POST"></form>
        <!-- <form action="http://localhost:3000/tweets" id="form" method="POST"></form> -->
        </form>
        <!-- <div>
            <%= topics %>
        </div> -->
    </body>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
        duration: 1100
        });
    </script>
</html>
<script src="https://d3js.org/d3.v4.js"></script>
    <script>
    $(document).ready(function() {
        // $( function() {
        //     var handle = $( "#custom-handle" );
        //     $( "#slider" ).slider({
        //     create: function() {
        //         handle.text( $( this ).slider( "value" ) );
        //     },
        //     slide: function( event, ui ) {
        //         handle.text( ui.value );
        //     }
        //     });
        // } );

        $('.search-button').click(function(){
            if (($(this).parent().prop('className') != 'search open')) {
                console.log("open")
                $(this).parent().toggleClass('open');
                $('.search-box').focus();
            } else {
                if ($("input").val().trim() != "") {
                    $('form').append($(".search-box"))
                    $('form').submit();
                }
            }
        });

        // Function to draw bar chart
        function barChart(topics, elementId, xLabel) {

            // Bar Chart
            var lineChart = document.getElementById(elementId);
            var h = lineChart.offsetHeight;
            var w = lineChart.offsetWidth;
            var margin = {top: 10, right: 30, bottom: 30, left: 80},
            width = (w/1.2) - margin.left - margin.right,
            height = h - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var chart = d3.select("#"+elementId)
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            chart.append('text')
            .attr('class', 'label')
            .attr('x', -(height / 2))
            // .attr('y', margin.top/ 2.4)
            .attr('transform', 'rotate(-90)')
            .attr('text-anchor', 'middle')
            .text('Number of Tweets')
            .attr('fill', '#00FEDE')
            .style('font-family', 'Helvetica Neue, Arial')
            // .style('font-weight', 'bold')
            .style('font-style', 'italic')

            chart.append('text')
            .attr('class', 'label')
            .attr('x', width / 2 + margin.top)
            .attr('y', height + margin.top * 1.7)
            .attr('text-anchor', 'middle')
            .text(xLabel + " Trends")
            .attr('fill', '#00FEDE')
            .style('font-family', 'Helvetica Neue, Arial')
            // .style('font-weight', 'bold')
            .style('font-style', 'italic')

            var yScale = d3.scaleLinear()
            .range([height, 0])
            .domain([0, d3.max(topics, function(d) { return d.value; })])
            // .attr('fill', 'white')

            // chart.append('g')
            // .call(d3.axisLeft(yScale))

            var xScale = d3.scaleBand()
            .range([0, width])
            .domain(topics.map((d) => d.name))
            .padding(0.2)

            // chart.append('g')
            // .attr('class', 'line')
            // .attr('transform', `translate(0, ${height})`)
            // .call(d3.axisBottom(xScale))

            var tooltip = d3.select("body")
            .append("div")
            .style("position", "absolute")
            .style("z-index", "10")
            .style("visibility", "hidden")
            .style("background", "#676767")
            .style('border-radius', "5px")
            .html("<div>")
            .style("color", "#00FEDE");

            var barGroups = chart.selectAll()
            .data(topics)
            .enter()
            .append('rect')
            .attr('class', 'bar')
            .attr('cursor', 'pointer')
            .attr('x', (d) => xScale(d.name))
            .attr('y', (d) => yScale(0))
            .attr('height', (d) => height - yScale(0))
            .attr('width', xScale.bandwidth())
            .attr('fill', '#ececec')
            .on("mouseover", function(d){
                d3.select(this)
                .attr('fill', '#8a8a8a')
                tooltip.html(d.name+"<br/>"+d.value); 
                return tooltip.style("visibility", "visible");
            })
            .on("mousemove", function(){
                return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
            })
            .on("mouseout", function(){
                d3.select(this)
                .attr('fill', '#ececec')
                return tooltip.style("visibility", "hidden");
            })
            .on("click", function(d) {
                $('#form').add('.search-box').val(d.name);
                $('.search-button').parent().toggleClass('open');
                $('.search-button').click();
            });

            chart.selectAll("rect")
            .transition()
            .duration(1000)
            .attr("y", function(d) { return yScale(d.value); })
            .attr("height", function(d) { return height - yScale(d.value); })
            .delay(function(d,i){return(i*100)})

        }

            // var topics = "<%= JSON.stringify(topics) %>"
            var topics = "<%= topics %>"
            // console.log(topics)
            if (topics != ""){
                topics = topics.replace(/&#34;/gi, "'")
                topics = topics.replace(/\[+/g, "")
                topics = topics.replace(/\]+/g, "")
                topics = topics.replace(/\'+/g, "")
                topics = topics.replace(/}/g, "")
                topics = topics.replace(/{name:/g, "")
                topics = topics.replace(/{/g, "")
                topics = topics.replace(/volume:/g, "")
                topics = topics.split(",")
            }
            // console.log(topics)
            var selected_array = "world";
            var world_topics = new Array();
            var india_topics = new Array();
            var usa_topics = new Array();
            var uk_topics = new Array();
            var canada_topics = new Array();
            for (let i=0; i<topics.length; i=i+2) {
                // console.log(selected_array)
                if (topics[i].includes(":")) {
                    selected_array = topics[i].split(":")[0].toLowerCase();
                    topics[i] = topics[i].split(":")[1]
                }
                switch(selected_array) {
                    case "world":
                        world_topics.push({"name":topics[i], "value": topics[i+1]});
                        break;
                    case "india":
                        india_topics.push({"name":topics[i], "value": topics[i+1]});
                        break;
                    case "usa":
                        usa_topics.push({"name":topics[i], "value": topics[i+1]});
                        break;
                    case "uk":
                        uk_topics.push({"name":topics[i], "value": topics[i+1]});
                        break;
                    case "canada":
                        canada_topics.push({"name":topics[i], "value": topics[i+1]});
                        break;
                    default:
                        continue;
                        break;
                }
            }
            // console.log(world_topics)
            // console.log(india_topics)
            // console.log(usa_topics)
            // console.log(uk_topics)
            // console.log(canada_topics)


            // var world_topics = new Array();
            // for (let i=0;i<20;i=i+2) {
            //     if (i == 0) {
            //         topics[i] = topics[i].split(":")[1]
            //     }
            //     world_topics.push({"name":topics[i], "value": topics[i+1]})
            // }
            // var india_topics = new Array();
            // for (let i=20;i<40;i=i+2) {
            //     if (i == 20) {
            //         topics[i] = topics[i].split(":")[1]
            //     }
            //     india_topics.push({"name":topics[i], "value": topics[i+1]})
            // }
            // var usa_topics = new Array();
            // for (let i=40;i<60;i=i+2) {
            //     if (i == 40) {
            //         topics[i] = topics[i].split(":")[1]
            //     }
            //     usa_topics.push({"name":topics[i], "value": topics[i+1]})
            // }
            // var uk_topics = new Array();
            // for (let i=60;i<80;i=i+2) {
            //     if (i == 60) {
            //         topics[i] = topics[i].split(":")[1]
            //     }
            //     uk_topics.push({"name":topics[i], "value": topics[i+1]})
            // }
            // var canada_topics = new Array();
            // for (let i=80;i<100;i=i+2) {
            //     if (i == 80) {
            //         topics[i] = topics[i].split(":")[1]
            //     }
            //     canada_topics.push({"name":topics[i], "value": topics[i+1]})
            // }
            
            barChart(world_topics, "line-chart-1", "World")
            barChart(india_topics, "line-chart-2", "India")
            barChart(usa_topics, "line-chart-3", "USA")
            barChart(uk_topics, "line-chart-4", "UK")
            barChart(canada_topics, "line-chart-5", "Canada")

            })
        

    </script>
<script src="https://d3js.org/d3.v4.min.js"></script>

