<html>
    <title>
        <%= dynamicLoad %>
    </title>
    <head>
        <!-- Links for Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/login.css">
        <script type="text/javascript" src="js/validation.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-7 left-pane" data-aos="fade-right">
                <div class="header-wrapper">
                    <div class="header">
                        <span>Opinion Miner</span>
                    </div>
                </div>
            </div>
            <div class="col-5" data-aos="zoom-in" class="show-login">
                <div class="login-wrapper">
                    <div class="login">
                        <div class="main">
                            <h2></h2>
                            <!-- <form action="http://54.245.5.117:3000/login" onsubmit="return formValidation(this)" method="POST"> -->
                            <form name="show-form" onsubmit="return formValidation(this)" method="POST">
                                <input type="text", placeholder="Username" name="username">
                                <input type="password", placeholder="Password" name="password">
                                <div class="buttons">
                                    <button type="submit" class="btn button button-1"></button>
                                </div>
                            </form>
                            <form name="server-call" method="GET">
                                <button type="submit" class="btn button button-2"></button>
                            </form>
                            <div>
                                <p id="error">
                                    <%= error %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
        duration: 1100
        });

        

        $(document).ready(function() {
            var dynamicLoad = "<%= dynamicLoad %>"
            console.log(dynamicLoad)
            if (dynamicLoad === "Login") {
                $('h2').html("Login");
                // $('form[name="show-form"]').attr("action", "http://localhost:3000/login");
                // $('form[name="server-call"]').attr("action", "http://localhost:3000/signup");
                $('form[name="show-form"]').attr("action", "http://54.245.5.117:3000/login");
                $('form[name="server-call"]').attr("action", "http://54.245.5.117:3000/signup");
                $(".button-1").html("Login");
                $(".button-2").html("Sign Up");
            } else {
                console.log("else")
                $('h2').html("Sign Up");
                // $('form[name="server-call"]').attr("action", "http://localhost:3000/login");
                // $('form[name="show-form"]').attr("action", "http://localhost:3000/signup");
                $('form[name="server-call"]').attr("action", "http://54.245.5.11:3000/login");
                $('form[name="show-form"]').attr("action", "http://54.245.5.11:3000/signup");
                $(".button-2").html("Login");
                $(".button-1").html("Sign Up");
            }
        });

    </script>

</html>
